version: '3.8'

services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - ./public:/var/www/html/public
    depends_on:
      - php
      - postgres

  php:
    build: ./php
    volumes:
      - ./public:/var/www/html/public
      - ./.env:/var/www/html/.env:ro
    environment:
      DB_HOST: postgres
      DB_NAME: car_db
      DB_USER: nikita
      DB_PASSWORD: root
    env_file:
      - .env

  postgres:
    image: postgres:12
    environment:
      POSTGRES_USER: nikita
      POSTGRES_PASSWORD: root
      POSTGRES_DB: car_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

volumes:
  postgres_data: